@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/new.css" />
<div>
    <h1>Application de Gestion de Mission</h1>
    <h5>Connecter vous pour avoir access au calendrier</p>
</div>
