@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <header><h1 style="text-align: center;">Application de la gestion des missions</h1></header>
    <p style="text-align: center;">application pour gestion des missions des personnels</p>
</div>
