html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: #E8D6CC;
        color: #F6EFE5;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E8D6CC;
    color: #F6EFE5;
}

header {
    background-color: #E8D6CC;
    color: #F6EFE5;
}
nav {
    background-color: #C59D83;
    color: #F6EFE5;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #F6EFE5 !important;
    text-decoration: none !important;
}

a {
    color: #F6EFE5 !important;
    text-decoration: none !important;
}
.text-white-custom {
    color: #F6EFE5 !important;
}

.btn-primary {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F6EFE5 !important;
    background-color: #C59D83;
    border-color: #1861ac;
}

.nav-link-custom {
    display: block;
    padding: 0.5rem 1rem;
    color: #F6EFE5 !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
    .nav-link-custom:hover,
    .nav-link-custom:focus {
        color: #F6EFE5;
    }

.fc-day.fc-day-sun.fc-day-today.fc-daygrid-day{
    background-color: #c4a7e7 !important;
}
